ul{
    background-color: rgb(207, 214, 214);
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    color: #000000;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}

li a.current{
    background-color: rgb(195, 255, 134);
    color: white;
}
li a:hover:not(.current){
    background-color: blue;
    color: white;
}